body {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #5c5edc;
  display: flex;
}

header img {
  height: 75px;
  float: left;
}

#bmi-desc1 {
  text-align: left;
}

#bmi-form,
#bmi-result {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d0caca;
}

h1 {
  color: #333;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

input,
button {
  margin: 5px;
  border-style: none;
}

button {
  background-color: #5c5edc;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  color: #ccc;
}

#bmi-desc2 {
  text-align: left;
}

#bmi-result {
  display: none;
}

#bmi-cons a {
  text-decoration: none;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.button:hover {
  background-color: #fff;
  color: #333;
  transition: 1.5s;
  border-style: solid;
}

